<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微电影管理系统</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='base/images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/skins/_all-skins.min.css') }}">
    {% block css %} {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="{{ url_for('admin.index') }}" class="logo">
            <span class="logo-mini">菜单</span>
            <span class="logo-lg">微电影管理系统</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">下拉菜单</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ session['admin'] }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <p>
                                    {{ session['admin'] }}
                                    <small>{{ online_time }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ url_for('admin.pwd') }}" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ url_for('admin.logout') }}" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">管理菜单</li>
                <li class="treeview" id="1">
                    <a href="javascript:;">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>首页</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="1-1">
                            <a href="{{ url_for('admin.index') }}">
                                <i class="fa fa-circle-o"></i> 控制面板
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="2">
                    <a href="javascript:;">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <span>标签管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="2-1">
                            <a href="{{ url_for('admin.tag_add') }}">
                                <i class="fa fa-circle-o"></i> 添加标签
                            </a>
                        </li>
                        <li id="2-2">
                            <a href="{{ url_for('admin.tag_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 标签列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="3">
                    <a href="javascript:;">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>
                        <span>电影管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="3-1">
                            <a href="{{ url_for('admin.movie_add') }}">
                                <i class="fa fa-circle-o"></i> 添加电影
                            </a>
                        </li>
                        <li id="3-2">
                            <a href="{{ url_for('admin.movie_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 电影列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="4">
                    <a href="javascript:;">
                        <i class="fa fa-film" aria-hidden="true"></i>
                        <span>预告管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="4-1">
                            <a href="{{ url_for('admin.preview_add') }}">
                                <i class="fa fa-circle-o"></i> 添加预告
                            </a>
                        </li>
                        <li id="4-2">
                            <a href="{{ url_for('admin.preview_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 预告列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="5">
                    <a href="javascript:;">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>用户管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="5-1">
                            <a href="{{ url_for('admin.user_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 用户列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="6">
                    <a href="javascript:;">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>评论管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="6-1">
                            <a href="{{ url_for('admin.comment_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 评论列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="7">
                    <a href="javascript:;">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>收藏管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="7-1">
                            <a href="{{ url_for('admin.moviecol_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 收藏列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="8">
                    <a href="javascript:;">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>日志管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="8-1">
                            <a href="{{ url_for('admin.adminloginlog_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 管理员登录日志列表
                            </a>
                        </li>
                        <li id="8-2">
                            <a href="{{ url_for('admin.userloginlog_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 会员登录日志列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="9">
                    <a href="javascript:;">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span>管理员管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="9-1">
                            <a href="{{ url_for('admin.admin_add') }}">
                                <i class="fa fa-circle-o"></i> 添加管理员
                            </a>
                        </li>
                        <li id="9-2">
                            <a href="{{ url_for('admin.admin_list', page=1) }}">
                                <i class="fa fa-circle-o"></i> 管理员列表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        {% block content %} {% endblock %}
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本</b> 1.0
        </div>
        <strong>粤ICP备17086092号</strong>
    </footer>
</div>
<script src="{{ url_for('static', filename='admin/plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/dist/js/app.min.js') }}"></script>
<script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
{% block js %} {% endblock %}
</body>
</html>